<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
     <section name="Sean_Jones.PicasaWallpaperChangerControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      
    </sectionGroup>
  </configSections>
  <appSettings>
    
    <add key="DataPath" value="data.xml" />
    <add key="User" value="" />
  </appSettings>
  <userSettings>
    <Sean_Jones.PicasaWallpaperChangerControl.Properties.Settings>
      <setting name="numberOfPhotos" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="reindexedDate" serializeAs="String">
        <value>2001-01-01</value>
      </setting>
      <setting name="Tags" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="PictureSource" serializeAs="String">
        <value />
      </setting>
      <setting name="ChangeInterval" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="RunBefore" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SizePercent" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="AutoRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SourcePasswordKey" serializeAs="String">
        <value />
      </setting>
      <setting name="SourcePasswordIV" serializeAs="String">
        <value />
      </setting>
      <setting name="PublicSources" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          </ArrayOfString>
        </value>
      </setting>
      <setting name="IndexTime" serializeAs="String">
        <value>01/01/2001 12:28:00</value>
      </setting>
      <setting name="UserToken" serializeAs="String">
        <value />
      </setting>
    </Sean_Jones.PicasaWallpaperChangerControl.Properties.Settings>
  </userSettings>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true"></defaultProxy>
  </system.net>
</configuration>